{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/static/main/img/icons8-django-32.png?{% now 'U' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/static/css/styles.css?{% now 'U' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.js?{% now 'U' %}"></script>
    {% block head %}{% endblock %}
</head>
<body class="sb-nav-fixed">
    
    {% include 'components/navbarH.html' %}
    <div id="layoutSidenav">
        {% include 'components/navbarV.html' %}
        
        <div id="layoutSidenav_content">
            {% block body %}{% endblock %}
            {% include 'components/footer.html'   %}
        </div>
    </div>
    
    {% block scripts %}{% endblock %}
</body>
</html>