<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <!-- Navbar Brand-->
    <ul class="navbar-nav">
        <li class="d-flex justify-content-between">
            <label class="navbar-brand ps-3 pb-2 user-select-none" href="/cms">Kaninor CMS</label>
            <button class="btn btn-link btn-sm order-1 pb-2 shadow-none" id="sidebarToggle" href="#!" title="hide/show navbar">
                <i class="fas fa-bars"></i>
            </button>
        </li>
    </ul>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" title="{{ user.email }}">
        <li class="nav-item dropdown">
            <span class="nav-link" id="navbarDropdown" href="#" aria-expanded="false"><i class="fas fa-user fa-fw"></i></span>
        </li>
    </ul>
</nav>