<!-- table -->
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-cart-plus"></i>
        Products DataTable
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Off</th>
                    <th>Added in</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td>{{ p.name}}</td>
                        <td>{{ p.number }}</td>
                        <td>{{ p.off }}%</td>
                        <td>{{ p.added_in }}</td>
                        <td>${{ p.price }}</td>
                        <td>
                            <button class="btn btn-warning shadow-none" style="height: 35px; width: 55px; padding-top: 4px;">edit</button>
                            <button class="btn btn-danger shadow-none" style="height: 35px; width: 70px; padding-top: 3px;">delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- end table -->