.mybtn {
    border-bottom-right-radius: .25rem; 
    border-top-right-radius: .25rem; 
    display: inline-block; width: 60px; 
    border: 1px solid transparent; 
    padding-bottom: 5px;
}

.myinput-file {
    border-bottom-right-radius: 0rem; 
    border-top-right-radius: 0;
}

.right-arrow {
    margin-bottom: 0px;
}

.i-btn {
    cursor: pointer;
    font-size: 18px;
    color: gray;
}

.mytable {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.mythead {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(128, 128, 128);
    color: whitesmoke
}

.pointer {
    margin-top: -2px;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
    color: rgb(100, 100, 100);
}

.pointer:hover {
    color:rgb(64, 64, 64);
}

.shop-btn {
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
    margin-left: -6px;
    color: rgb(155, 157, 158);
}

.shop-btn:hover {
    color: #ddd;
}

.inline-ico {
    margin-top: 7px;
}