<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/main/css/style.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static '/main/img/icons8-django-32.png' %}?{% now 'U' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% for employee in employees %}
        <h3 class="h3">id: {{ employee.id }}</h3><br>
        <h3>firstName: {{ employee.firstName }}</h3><br>
        <h3>lastName: {{ employee.lastName }}</h3><br>
        <h3>phoneNumber: {{ employee.phoneNumber }}</h3><br>
        <h3>age: {{ employee.age }}</h3><br>
        <h3>email: {{ employee.email }}</h3><hr width="350" align="left" size="2">
    {% endfor %}

    <script src="{% static '/main/js/test.js' %}?{% now 'U' %}"></script>
</body>
</html>